# Dependency directories
back-end/node_modules/

# Logs
back-end/logs
back-end/*.log
back-end/npm-debug.log*
back-end/yarn-debug.log*
back-end/yarn-error.log*

# Runtime data
back-end/pids
back-end/*.pid
back-end/*.seed
back-end/*.pid.lock

# Directory for storing generated documentation
back-end/doc/

# Coverage directory used by tools like istanbul
back-end/coverage/

# nyc test coverage
back-end/.nyc_output/

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
back-end/.grunt

# Bower dependency directory (https://bower.io/)
back-end/bower_components/

# node-waf configuration
back-end/.lock-wscript

# Compiled binary addons (https://nodejs.org/api
